{
    "openapi": "3.0.0",
    "servers": [
        {
            "url": "https://management.azure.com/"
        }
    ],
    "info": {
        "title": "AutomationManagement",
        "version": "2017-05-15-preview",
        "x-apisguru-categories": [
            "cloud"
        ],
        "x-logo": {
            "url": "https://api.apis.guru/v2/cache/logo/https_assets.onestore.ms_cdnfiles_onestorerolling-1606-01000_shell_v3_images_logo_microsoft.png"
        },
        "x-origin": [
            {
                "format": "swagger",
                "url": "https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/automation/resource-manager/Microsoft.Automation/preview/2017-05-15-preview/sourceControlSyncJob.json",
                "version": "2.0"
            }
        ],
        "x-preferred": true,
        "x-providerName": "azure.com",
        "x-serviceName": "automation-sourceControlSyncJob",
        "x-tags": [
            "Azure",
            "Microsoft"
        ]
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs": {
            "get": {
                "description": "Retrieve a list of source control sync jobs.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
                },
                "operationId": "SourceControlSyncJob_ListByAutomationAccount",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source control name.",
                        "in": "path",
                        "name": "sourceControlName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The filter to apply on the operation.",
                        "in": "query",
                        "name": "$filter",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "The response model for the list source control sync jobs operation.",
                                    "properties": {
                                        "nextLink": {
                                            "description": "The next link.",
                                            "type": "string"
                                        },
                                        "value": {
                                            "description": "The list of source control sync jobs.",
                                            "items": {
                                                "description": "Definition of the source control sync job.",
                                                "properties": {
                                                    "id": {
                                                        "description": "Resource id.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "name": {
                                                        "description": "Resource name.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    },
                                                    "properties": {
                                                        "description": "The properties of the source control sync job.",
                                                        "x-ms-client-flatten": true,
                                                        "properties": {
                                                            "creationTime": {
                                                                "description": "The creation time of the job.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "nullable": false
                                                            },
                                                            "endTime": {
                                                                "description": "The end time of the job.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "provisioningState": {
                                                                "description": "The provisioning state of the job.",
                                                                "enum": [
                                                                    "Completed",
                                                                    "Failed",
                                                                    "Running"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "provisioningState"
                                                                }
                                                            },
                                                            "sourceControlSyncJobId": {
                                                                "description": "The source control sync job id.",
                                                                "type": "string"
                                                            },
                                                            "startTime": {
                                                                "description": "The start time of the job.",
                                                                "format": "date-time",
                                                                "readOnly": true,
                                                                "type": "string",
                                                                "nullable": true
                                                            },
                                                            "syncType": {
                                                                "description": "The sync type.",
                                                                "enum": [
                                                                    "PartialSync",
                                                                    "FullSync"
                                                                ],
                                                                "type": "string",
                                                                "x-ms-enum": {
                                                                    "modelAsString": true,
                                                                    "name": "syncType"
                                                                }
                                                            }
                                                        }
                                                    },
                                                    "type": {
                                                        "description": "Resource type.",
                                                        "readOnly": true,
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            "type": "array"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "SourceControlSyncJob"
                ],
                "x-ms-examples": {
                    "Get a list of source control sync jobs": {
                        "parameters": {
                            "api-version": "2017-05-15-preview",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "sourceControlName": "MySourceControl",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "value": [
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a",
                                            "properties": {
                                                "creationTime": "2017-03-28T23:14:26.903+00:00",
                                                "endTime": "2017-03-28T23:14:28.903+00:00",
                                                "provisioningState": "Completed",
                                                "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a1a",
                                                "startTime": "2017-03-28T23:14:27.903+00:00",
                                                "syncType": "PartialSync"
                                            }
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a",
                                            "properties": {
                                                "creationTime": "2017-03-28T23:14:26.903+00:00",
                                                "endTime": "2017-03-28T23:14:28.903+00:00",
                                                "provisioningState": "Completed",
                                                "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a2a",
                                                "startTime": "2017-03-28T23:14:27.903+00:00",
                                                "syncType": "PartialSync"
                                            }
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a",
                                            "properties": {
                                                "creationTime": "2017-03-28T23:14:26.903+00:00",
                                                "endTime": "2017-03-28T23:14:28.903+00:00",
                                                "provisioningState": "Completed",
                                                "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a3a",
                                                "startTime": "2017-03-28T23:14:27.903+00:00",
                                                "syncType": "PartialSync"
                                            }
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a",
                                            "properties": {
                                                "creationTime": "2017-03-28T23:14:26.903+00:00",
                                                "endTime": "2017-03-28T23:14:28.903+00:00",
                                                "provisioningState": "Completed",
                                                "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a4a",
                                                "startTime": "2017-03-28T23:14:27.903+00:00",
                                                "syncType": "PartialSync"
                                            }
                                        },
                                        {
                                            "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a",
                                            "properties": {
                                                "creationTime": "2017-03-28T23:14:26.903+00:00",
                                                "endTime": "2017-03-28T23:14:28.903+00:00",
                                                "provisioningState": "Completed",
                                                "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a5a",
                                                "startTime": "2017-03-28T23:14:27.903+00:00",
                                                "syncType": "PartialSync"
                                            }
                                        }
                                    ]
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "x-ms-pageable": {
                    "nextLinkName": "nextLink"
                }
            }
        },
        "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/sourceControls/{sourceControlName}/sourceControlSyncJobs/{sourceControlSyncJobId}": {
            "get": {
                "description": "Retrieve the source control sync job identified by job id.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
                },
                "operationId": "SourceControlSyncJob_Get",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source control name.",
                        "in": "path",
                        "name": "sourceControlName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source control sync job id.",
                        "in": "path",
                        "name": "sourceControlSyncJobId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Definition of the source control sync job.",
                                    "properties": {
                                        "id": {
                                            "description": "The id of the job.",
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of the source control sync job.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "The creation time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "endTime": {
                                                    "description": "The end time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "exception": {
                                                    "description": "The exceptions that occurred while running the sync job.",
                                                    "type": "string"
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the job.",
                                                    "enum": [
                                                        "Completed",
                                                        "Failed",
                                                        "Running"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "provisioningState"
                                                    }
                                                },
                                                "sourceControlSyncJobId": {
                                                    "description": "The source control sync job id.",
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "description": "The start time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "syncType": {
                                                    "description": "The sync type.",
                                                    "enum": [
                                                        "PartialSync",
                                                        "FullSync"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "syncType"
                                                    }
                                                }
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "SourceControlSyncJob"
                ],
                "x-ms-examples": {
                    "Get a source control sync job by job id": {
                        "parameters": {
                            "api-version": "2017-05-15-preview",
                            "automationAccountName": "myAutomationAccount33",
                            "resourceGroupName": "rg",
                            "sourceControlName": "MySourceControl",
                            "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "200": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                                    "properties": {
                                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                                        "endTime": "2017-03-28T23:14:28.903+00:00",
                                        "exception": "",
                                        "provisioningState": "Completed",
                                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                                        "startTime": "2017-03-28T23:14:27.903+00:00",
                                        "syncType": "PartialSync"
                                    }
                                },
                                "headers": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "description": "Creates the sync job for a source control.",
                "externalDocs": {
                    "url": "http://aka.ms/azureautomationsdk/sourcecontrolsyncjoboperations"
                },
                "operationId": "SourceControlSyncJob_Create",
                "parameters": [
                    {
                        "description": "Name of an Azure Resource group.",
                        "in": "path",
                        "name": "resourceGroupName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string",
                            "minLength": 1,
                            "maxLength": 90,
                            "pattern": "^[-\\w\\._]+$"
                        }
                    },
                    {
                        "description": "The name of the automation account.",
                        "in": "path",
                        "name": "automationAccountName",
                        "required": true,
                        "x-ms-parameter-location": "method",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source control name.",
                        "in": "path",
                        "name": "sourceControlName",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The source control sync job id.",
                        "in": "path",
                        "name": "sourceControlSyncJobId",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "description": "Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                        "in": "path",
                        "name": "subscriptionId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "Client Api Version.",
                        "in": "query",
                        "name": "api-version",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Definition of the source control sync job.",
                                    "properties": {
                                        "id": {
                                            "description": "Resource id.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "name": {
                                            "description": "Resource name.",
                                            "readOnly": true,
                                            "type": "string"
                                        },
                                        "properties": {
                                            "description": "The properties of the source control sync job.",
                                            "x-ms-client-flatten": true,
                                            "properties": {
                                                "creationTime": {
                                                    "description": "The creation time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": false
                                                },
                                                "endTime": {
                                                    "description": "The end time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "provisioningState": {
                                                    "description": "The provisioning state of the job.",
                                                    "enum": [
                                                        "Completed",
                                                        "Failed",
                                                        "Running"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "provisioningState"
                                                    }
                                                },
                                                "sourceControlSyncJobId": {
                                                    "description": "The source control sync job id.",
                                                    "type": "string"
                                                },
                                                "startTime": {
                                                    "description": "The start time of the job.",
                                                    "format": "date-time",
                                                    "readOnly": true,
                                                    "type": "string",
                                                    "nullable": true
                                                },
                                                "syncType": {
                                                    "description": "The sync type.",
                                                    "enum": [
                                                        "PartialSync",
                                                        "FullSync"
                                                    ],
                                                    "type": "string",
                                                    "x-ms-enum": {
                                                        "modelAsString": true,
                                                        "name": "syncType"
                                                    }
                                                }
                                            }
                                        },
                                        "type": {
                                            "description": "Resource type.",
                                            "readOnly": true,
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "Automation error response describing why the operation failed.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "description": "Error response of an operation failure",
                                    "properties": {
                                        "code": {
                                            "description": "Error code",
                                            "type": "string"
                                        },
                                        "message": {
                                            "description": "Error message indicating why the operation failed.",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                },
                "tags": [
                    "SourceControlSyncJob"
                ],
                "x-ms-examples": {
                    "Create or update a source control sync job": {
                        "parameters": {
                            "api-version": "2017-05-15-preview",
                            "automationAccountName": "myAutomationAccount33",
                            "parameters": {
                                "properties": {
                                    "commitId": "9de0980bfb45026a3d97a1b0522d98a9f604226e"
                                }
                            },
                            "resourceGroupName": "rg",
                            "sourceControlName": "MySourceControl",
                            "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                            "subscriptionId": "subid"
                        },
                        "responses": {
                            "201": {
                                "body": {
                                    "id": "/subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/myAutomationAccount33/sourceControls/MySourceControl/sourceControlSyncJobs/ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                                    "properties": {
                                        "creationTime": "2017-03-28T23:14:26.903+00:00",
                                        "endTime": "2017-03-28T23:14:28.903+00:00",
                                        "provisioningState": "Completed",
                                        "sourceControlSyncJobId": "ce6fe3e3-9db3-4096-a6b4-82bfb4c10a9a",
                                        "startTime": "2017-03-28T23:14:27.903+00:00",
                                        "syncType": "PartialSync"
                                    }
                                },
                                "headers": {}
                            }
                        }
                    }
                },
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "description": "The parameters supplied to the create source control sync job operation.",
                                "properties": {
                                    "properties": {
                                        "description": "The properties of the source control sync job.",
                                        "x-ms-client-flatten": true,
                                        "properties": {
                                            "commitId": {
                                                "description": "The commit id of the source control sync job. If not syncing to a commitId, enter an empty string.",
                                                "minLength": 0,
                                                "type": "string"
                                            }
                                        },
                                        "required": [
                                            "commitId"
                                        ]
                                    }
                                },
                                "required": [
                                    "properties"
                                ],
                                "type": "object"
                            }
                        }
                    },
                    "description": "The parameters supplied to the create source control sync job operation.",
                    "required": true
                }
            }
        }
    },
    "components": {
        "schemas": {
            "SourceControlSyncJob": {
                "description": "Definition of the source control sync job.",
                "properties": {
                    "id": {
                        "description": "Resource id.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "name": {
                        "description": "Resource name.",
                        "readOnly": true,
                        "type": "string"
                    },
                    "properties": {
                        "description": "The properties of the source control sync job.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "creationTime": {
                                "description": "The creation time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": false
                            },
                            "endTime": {
                                "description": "The end time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": true
                            },
                            "provisioningState": {
                                "description": "The provisioning state of the job.",
                                "enum": [
                                    "Completed",
                                    "Failed",
                                    "Running"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "provisioningState"
                                }
                            },
                            "sourceControlSyncJobId": {
                                "description": "The source control sync job id.",
                                "type": "string"
                            },
                            "startTime": {
                                "description": "The start time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": true
                            },
                            "syncType": {
                                "description": "The sync type.",
                                "enum": [
                                    "PartialSync",
                                    "FullSync"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "syncType"
                                }
                            }
                        }
                    },
                    "type": {
                        "description": "Resource type.",
                        "readOnly": true,
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "SourceControlSyncJobById": {
                "description": "Definition of the source control sync job.",
                "properties": {
                    "id": {
                        "description": "The id of the job.",
                        "type": "string"
                    },
                    "properties": {
                        "description": "The properties of the source control sync job.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "creationTime": {
                                "description": "The creation time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": false
                            },
                            "endTime": {
                                "description": "The end time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": true
                            },
                            "exception": {
                                "description": "The exceptions that occurred while running the sync job.",
                                "type": "string"
                            },
                            "provisioningState": {
                                "description": "The provisioning state of the job.",
                                "enum": [
                                    "Completed",
                                    "Failed",
                                    "Running"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "provisioningState"
                                }
                            },
                            "sourceControlSyncJobId": {
                                "description": "The source control sync job id.",
                                "type": "string"
                            },
                            "startTime": {
                                "description": "The start time of the job.",
                                "format": "date-time",
                                "readOnly": true,
                                "type": "string",
                                "nullable": true
                            },
                            "syncType": {
                                "description": "The sync type.",
                                "enum": [
                                    "PartialSync",
                                    "FullSync"
                                ],
                                "type": "string",
                                "x-ms-enum": {
                                    "modelAsString": true,
                                    "name": "syncType"
                                }
                            }
                        }
                    }
                },
                "type": "object"
            },
            "SourceControlSyncJobByIdProperties": {
                "description": "Definition of source control sync job properties.",
                "properties": {
                    "creationTime": {
                        "description": "The creation time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": false
                    },
                    "endTime": {
                        "description": "The end time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": true
                    },
                    "exception": {
                        "description": "The exceptions that occurred while running the sync job.",
                        "type": "string"
                    },
                    "provisioningState": {
                        "description": "The provisioning state of the job.",
                        "enum": [
                            "Completed",
                            "Failed",
                            "Running"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "provisioningState"
                        }
                    },
                    "sourceControlSyncJobId": {
                        "description": "The source control sync job id.",
                        "type": "string"
                    },
                    "startTime": {
                        "description": "The start time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": true
                    },
                    "syncType": {
                        "description": "The sync type.",
                        "enum": [
                            "PartialSync",
                            "FullSync"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "syncType"
                        }
                    }
                },
                "type": "object"
            },
            "SourceControlSyncJobCreateParameters": {
                "description": "The parameters supplied to the create source control sync job operation.",
                "properties": {
                    "properties": {
                        "description": "The properties of the source control sync job.",
                        "x-ms-client-flatten": true,
                        "properties": {
                            "commitId": {
                                "description": "The commit id of the source control sync job. If not syncing to a commitId, enter an empty string.",
                                "minLength": 0,
                                "type": "string"
                            }
                        },
                        "required": [
                            "commitId"
                        ]
                    }
                },
                "required": [
                    "properties"
                ],
                "type": "object"
            },
            "SourceControlSyncJobCreateProperties": {
                "description": "Definition of create source control sync job properties.",
                "properties": {
                    "commitId": {
                        "description": "The commit id of the source control sync job. If not syncing to a commitId, enter an empty string.",
                        "minLength": 0,
                        "type": "string"
                    }
                },
                "required": [
                    "commitId"
                ],
                "type": "object"
            },
            "SourceControlSyncJobListResult": {
                "description": "The response model for the list source control sync jobs operation.",
                "properties": {
                    "nextLink": {
                        "description": "The next link.",
                        "type": "string"
                    },
                    "value": {
                        "description": "The list of source control sync jobs.",
                        "items": {
                            "description": "Definition of the source control sync job.",
                            "properties": {
                                "id": {
                                    "description": "Resource id.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Resource name.",
                                    "readOnly": true,
                                    "type": "string"
                                },
                                "properties": {
                                    "description": "The properties of the source control sync job.",
                                    "x-ms-client-flatten": true,
                                    "properties": {
                                        "creationTime": {
                                            "description": "The creation time of the job.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": false
                                        },
                                        "endTime": {
                                            "description": "The end time of the job.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "provisioningState": {
                                            "description": "The provisioning state of the job.",
                                            "enum": [
                                                "Completed",
                                                "Failed",
                                                "Running"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "provisioningState"
                                            }
                                        },
                                        "sourceControlSyncJobId": {
                                            "description": "The source control sync job id.",
                                            "type": "string"
                                        },
                                        "startTime": {
                                            "description": "The start time of the job.",
                                            "format": "date-time",
                                            "readOnly": true,
                                            "type": "string",
                                            "nullable": true
                                        },
                                        "syncType": {
                                            "description": "The sync type.",
                                            "enum": [
                                                "PartialSync",
                                                "FullSync"
                                            ],
                                            "type": "string",
                                            "x-ms-enum": {
                                                "modelAsString": true,
                                                "name": "syncType"
                                            }
                                        }
                                    }
                                },
                                "type": {
                                    "description": "Resource type.",
                                    "readOnly": true,
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        },
                        "type": "array"
                    }
                },
                "type": "object"
            },
            "SourceControlSyncJobProperties": {
                "description": "Definition of source control sync job properties.",
                "properties": {
                    "creationTime": {
                        "description": "The creation time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": false
                    },
                    "endTime": {
                        "description": "The end time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": true
                    },
                    "provisioningState": {
                        "description": "The provisioning state of the job.",
                        "enum": [
                            "Completed",
                            "Failed",
                            "Running"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "provisioningState"
                        }
                    },
                    "sourceControlSyncJobId": {
                        "description": "The source control sync job id.",
                        "type": "string"
                    },
                    "startTime": {
                        "description": "The start time of the job.",
                        "format": "date-time",
                        "readOnly": true,
                        "type": "string",
                        "nullable": true
                    },
                    "syncType": {
                        "description": "The sync type.",
                        "enum": [
                            "PartialSync",
                            "FullSync"
                        ],
                        "type": "string",
                        "x-ms-enum": {
                            "modelAsString": true,
                            "name": "syncType"
                        }
                    }
                },
                "type": "object"
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "description": "Azure Active Directory OAuth2 Flow",
                "type": "oauth2",
                "flows": {
                    "authorizationCode": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        },
                        "tokenUrl": "https://login.microsoftonline.com/common/oauth2/token"
                    }
                }
            }
        }
    }
}